#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
}

#home-title {
  margin: 0;
}

#home-line {
  background-color: black;
  width: 275px;
  height: 2px;
  margin: 13px auto;
}

#home-subtitle {
  font-weight: normal;
  margin: 0;
}

#home-tmdb-logo {
  width: 200px;
}
