.topLevelContainer {
  margin: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo {

}

li {
  margin: 50px auto;
}

.fontMedium {
  font-size: medium;
}

.fontSmall {
  font-size: small;
  font-weight: bold;
}

.tmdbLogo {
  width: 200px;
  margin-bottom: 50px;
}
