.search-buttons-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.search-buttons-popularity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media (max-width: 500px) {
  .search-buttons-container {
    justify-content: center;
  }
}
