.header {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
}

.content {
  min-height: 80vh;
  margin: 25px 25px 0 25px;
  background: white;
}

.footer {
  text-align: center;
}

@media (max-width: 500px) {
  .content {
    margin: 0px;
  }
}
