.topLevelContainer {
  display: flex;
  justify-content: center;
}

.flexContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.flexChild1 {
  width: 675px;
}

.flexChild2 {
  width: 300px;
  margin-top: 68px;
}

.title {
  margin: 10px 0;
}

.overview {
  margin: 10px 0;
  text-align: justify;
}

.genreRuntimeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.genreItem {
  display: inline-block;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.genreItem:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.genreItem:focus {
  outline: none;
}

.genreItem.genreGradient {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.runtime {
  white-space: nowrap;
}

@media (max-width: 1090px) {
  .flexChild1 {
    width: 585px;
  }

  .flexChild2 {
    width: 255px;
  }
}

@media (max-width: 955px) {
  .flexContainer {
    gap: 0;
  }

  .flexChild1 {
    width: 585px;
  }

  .flexChild2 {
    display: none;
  }
}

@media (max-width: 675px) {
  .flexChild1 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 500px) {
  .flexChild1 {
    width: auto;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-height: 500px) {
  .flexChild1 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .title {
    font-size: 30px;
  }
}
